# Arquivo .gitignore

# Byte-code compilado ou empacotado do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de ambiente virtual
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Arquivos de configuração de IDEs
.idea/
.vscode/
*.iml

# Outros arquivos de sistema e cache
.DS_Store